<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artwork Details</title>
    <link rel="stylesheet" href="productsDetails.css">
   
</head>
<body>
    <header>
        <div>
            <h2>Art Gallery</h2>
        </div>
        <nav>
            <a href="front.html">Produits</a>
            <a href="#">Famille</a>

        </nav>
    </header>

    <div class="artwork-details">
        <div class="artwork-image">
            <img src="placeholder.jpg" alt="Champagne">
        </div>

        <div class="artwork-info">
            <h1>Champagne</h1>
            <div class="price">1.700 €</div>
            <a href="cart.html"></a><button class="add-to-cart">Ajouter au panier</button>

            <ul>
            
            </ul>
        </div>
    </div>
    
    <footer>
        &copy; 2024 Art Gallery. All rights reserved.
    </footer>
</body>
</html>
